aiobotocore
aiohttp
aioitertools
aiosignal
async-timeout
attrs
beautifulsoup4
bidict
botocore
certifi
chardet
charset-normalizer
chromedriver-autoinstaller
click
colorama
dnspython
eventlet
Flask
Flask-Cors
Flask-SocketIO
frozenlist
fsspec
gevent
gevent-websocket
greenlet
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
jmespath
MarkupSafe
multidict
numpy
pandas
python-dateutil
python-engineio
python-socketio
pytz
requests
requests-html
s3fs
selenium
six
soupsieve
typing_extensions
tzdata
Werkzeug
wrapt
yarl
zipp
zope.event
zope.interface
python-dotenv
fastparquet
schedule
# jupyterlab
# notebook
aiofiles
aiosqlite
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
Babel
backcall
black
bleach
bs4
cffi
comm
cramjam
cssselect
cssutils
debugpy
decorator
defusedxml
exceptiongroup
executing
fake-useragent
fastjsonschema
fqdn
h11
importlib-resources
ipykernel
ipython
ipython-genutils
isoduration
jedi
json5
jsonpointer
jsonschema
jupyter-events
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab_server
lxml
matplotlib-inline
mistune
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
outcome
packaging
pandocfilters
parse
parso
pathspec
pickleshare
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
pyee
Pygments
pyppeteer
pyquery
pyrsistent
PySocks
python-json-logger
PyYAML
pyzmq
rfc3339-validator
rfc3986-validator
Send2Trash
sniffio
sortedcontainers
stack-data
terminado
tinycss2
tomli
tornado
tqdm
traitlets
trio
trio-websocket
uri-template
urllib3
w3lib
wcwidth
webcolors
webdriver-manager
webencodings
websocket-client
websockets
wsproto
y-py
ypy-websocket
