.table {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
